@font-face {
    font-family: 'Macondo';
    src: url('fonts/Macondo-Regular.woff2') format('woff2'),
        url('fonts/Macondo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-SemiBold.woff2') format('woff2'),
        url('fonts/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-family: 'Roboto', serif;
    color: #333333;
}

aside {    
    --aside-height: 100vh;

    background-image: url("images/chinh-le-duc-P19iVmm7XUA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: calc(.52*var(--aside-height));
    /* display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; */
    height: var(--aside-height);
    text-align: center;
    position: relative;
}

img.banner-logo {
    height: 6rem;
}

div.aside-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: #33333380;
    position: absolute;
    top: 20%;
    width: 100%;
}

div.aside-banner h1 {
    font-family: 'Macondo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #fcfcfc;
}    

cite {
    font-size: .75rem;
    font-style: normal;
    color: #eeeeee;
    position: absolute;
    bottom: 10px;
    margin: auto;
}

cite a {
    color: #888888;
}

div.form-case {
    background-color: #f6f6f6;
    position: relative;
}

div.form-case, form {
    padding: 1rem 2rem;
}

div form {
    background-color: #fcfcfc;
    /* height: 32vh; */
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 5px #cccccc;
}

div.form-case.intro {
    height: 35vh;
    text-align: left;
}

div.form-case.end {
    height: 33vh;
}

p {
    line-height: 1.2rem;
    min-width: 40ch;
    max-width: 50ch;
    font-weight: 600;
}

p#persuasion{
    padding: 1rem 0 2rem 0;
}

div.form-case section.intro {
    position: absolute;
    bottom: 1rem;
}

div.form-body div.form-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form .form-input {
    display: flex;
    flex-direction: column;
    margin: .5rem 2rem .5rem 0;
}

form h2 {
    font-size: .9rem;
}

form label {
    color: #333333;
    font-size: .55rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

form section.info-category {
    display: flex;
    flex-direction: row;
}

form button {
    color: #fcfcfc;
    background-color: #225599;
    font-size: .70rem;
    padding: .5rem 2rem;
    border-radius: .3rem ;
    border: none;
}

form input {
    border-color: #dfe2e7;
    border-style: solid;
    border-radius: .2rem;
    border-width: .08rem;
    padding: .2rem;
    font-size: .8rem;
    width: 24ch;
}

form input:focus {
    border-color: #225599;
    outline-style: none;
    border-width: .1rem;
    box-shadow: 1px 2px 5px #cccccc;
}

form input:invalid{
    border-color: rgb(206, 9, 9);
}
p.end {
    font-size: .70rem;
    font-weight: normal;
}